__pycache__/
.coverage/
.dandy*/
.idea/
.junie/
.venv*/
venv*/
build/
site/
dist/
*jupyter/
dandy.egg-info/
inspectionProfiles/

.python-version

~*.*
*.env
*.bat
*.db
*.sql

dev_tool.exe
dev_tool*.exe

example_book.md
