__pycache__/
.coverage/
.dandy*/
.idea/
.junie/
.cache/
.npm/
.venv*/
venv*/
build/
site/
dist/
*jupyter/
dandy.egg-info/
inspectionProfiles/

~*.*
*.env
*.bat
*.db
*.sql

dev_tool.exe
dev_tool*.exe

example_book.md

!dandy/cli/actions/build/

