__pycache__/
.venv*/
venv*/
build/
site/
dist/
dandy.egg-info/
inspectionProfiles/
.coverage_html_report/
.dandy_cli_output/
.dandy_debug_output/

.idea
.python-version

~*.*
*.env
*.bat
*.db
*.sql
*_debug_output.html

dev_tool.exe
dev_tool*.exe

example_book.md
