site_name: Dandy AI Framework
site_url: https://dandysoftware.com

repo_name: stratusadv/dandy
repo_url: https://github.com/stratusadv/dandy

copyright: Copyright (c) 2024 Stratus Advanced Technologies and Contributors

extra_css:
  - static/css/extra.css
  - static/css/mkdocstrings.css

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - static/js/extra.js


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
  - tables
  - attr_list

nav:
  - Home: index.md
  - Getting Started:
      - What is Dandy: getting_started/introduction.md
      - Read this First: getting_started/read_this_first.md
      - Quick Start: getting_started/quick_start.md
      - How Dandy Helps: getting_started/how_dandy_helps.md
  - Tutorial:
      - Tutorial Index: tutorials/index.md
      - 01. Setup: tutorials/setup.md
      - 02. Intel: tutorials/intel.md
      - 03. Prompts: tutorials/prompts.md
      - 04. Bots: tutorials/bots.md
      - 05. Recorder: tutorials/recorder.md
      - 06. Decoders: tutorials/decoders.md
      - 07. Futures: tutorials/futures.md
      - 08. Caching: tutorials/caching.md
      - 09. Agents: tutorials/agents.md
      - 10. Handling Errors: tutorials/handling_errors.md
      - 11. Project Structure: tutorials/project_structure.md
      - 12. Example Project: tutorials/example_project.md
  - API Reference: reference/
  - Roadmap:
      - 2025: roadmap/2025_roadmap.md
      - 2024: roadmap/2024_roadmap.md
      - Legend: roadmap/roadmap_legend.md
  - Changelog:
      - Current: changelog/changelog.md
      - Archived: changelog/archived_changelog.md
  - About:
      - Contributors: about/contributors.md
      - Branding: about/branding.md
      - Credits: about/credits.md

plugins:
  - include-markdown
  - mkdocstrings:
      handlers:
        python:
          inventories:
            - url: https://docs.python.org/3/objects.inv
              domains: [py, std]
          options:
            show_source: true
            show_if_no_docstring: True
            docstring_style: sphinx
            docstring_section_style: list
            members_order: source
            merge_init_into_class: true
            show_root_full_path: true
            show_root_heading: true
            show_signature: false
            show_signature_annotations: false
            show_symbol_type_heading: true
  - markdown-exec
  - search
  - table-reader
  - gen-files:
      scripts:
        - docs/scripts/generate_api_reference.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index

theme:
  name: material
  custom_dir: docs/templates
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    toggle:
      icon: material/lightbulb
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/lightbulb-outline
      name: "Switch to system preference"
  features:
    - toc.follow
    - navigation.tabs
    - navigation.footer
    - navigation.sections
  logo: 'static/img/dandy_icon_white_256.png'
  favicon: 'favicon.png'

watch:
  - dandy
  - example
  - tests
