:root > * {
    --md-primary-fg-color: #186e95;
    --md-primary-fg-color--light: #186e95;
    --md-primary-fg-color--dark: #186e95;
    --dandy-color-teal: #25b0C4;
    --dandy-color-blue: #186e95;
    --dandy-color-tan: #f7e1cc;
    --dandy-color-yellow: #f8ca7a;
    --dandy-color-orange: #e4904c;
    --dandy-color-black: #050318;
}

