name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  AI_API_HOST: ${{ secrets.AI_API_HOST }}
  AI_API_KEY: ${{ secrets.AI_API_KEY }}
  DANDY_SETTINGS_MODULE: ${{ secrets.DANDY_SETTINGS_MODULE }}
  LLM_AUDIO_MODEL: ${{ secrets.LLM_AUDIO_MODEL }}
  LLM_DEFAULT_MODEL: ${{ secrets.LLM_DEFAULT_MODEL }}
  LLM_THINKING_MODEL: ${{ secrets.LLM_THINKING_MODEL }}
  LLM_VISION_MODEL: ${{ secrets.LLM_VISION_MODEL }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  OPENAI_HOST: ${{ secrets.OPENAI_HOST }}

jobs:
  dandy-testing:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          pip install -e .[development,documentation]

      - name: Package Tests
        run: |
          python -m unittest discover -v ./tests

  documentation-testing:
    needs: dandy-testing
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          pip install -e .[development,documentation]

      - name: Documentation Tests
        run: |
          PYTHONPATH=. mkdocs build --strict

#  optional-testing:
#    needs: documentation-testing
#    runs-on: ubuntu-latest
#    continue-on-error: true
#
#    env:
#      TEST_NINES: '1'
#
#    steps:
#      - uses: actions/checkout@v4
#
#      - name: Set up Python 3.11
#        uses: actions/setup-python@v6
#        with:
#          python-version: 3.11
#
#      - name: Install Dependencies
#        run: |
#          pip install -e .[development,documentation]
#
#      - name: Nines Testing
#        run: |
#          python -m unittest discover -v ./tests